# Java SDK Logger
CONFIG_JAVA_SDK_LOGGER_MAIL_NOTIFY=
CONFIG_JAVA_SDK_GMAIL_MAIL_USERNAME=
CONFIG_JAVA_SDK_GMAIL_MAIL_PASSWORD=
CONFIG_JAVA_SDK_DISCORD_WEBHOOK_URL=

# Spring Datasource
CONFIG_SPRING_DATASOURCE_MYSQL_LOCAL_USERNAME=
CONFIG_SPRING_DATASOURCE_MYSQL_LOCAL_PASSWORD=

# Spring Mail
CONFIG_SPRING_MAIL_USERNAME=
CONFIG_SPRING_MAIL_PASSWORD=

# Spring Security OAuth2
CONFIG_SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_GOOGLE_CLIENT_ID=
CONFIG_SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_GOOGLE_CLIENT_SECRET=
CONFIG_SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_GITHUB_CLIENT_ID=
CONFIG_SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_GITHUB_CLIENT_SECRET=

# Spring Security Admin
CONFIG_SPRING_SECURITY_ADMIN_USERNAME=
CONFIG_SPRING_SECURITY_ADMIN_PASSWORD=

# AWS S3 & CloudFront
CONFIG_AWS_S3_ACCESS_KEY=
CONFIG_AWS_S3_SECRET_KEY=
CONFIG_AWS_CLOUD_FRONT_ENDPOINT=

# Redis
CONFIG_REDIS_TASK_QUEUE_PASSWORD=
