
@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

* html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,
sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,
th,td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  /* vertical-align: baseline; */
}


* li {
  list-style: none;
}

* a {
  text-decoration: none;
  color: white;
}

.flex {
  display: flex;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #212124;
}

/*設定footer本身高度*/
.footer {
  width: 100%;
  height: 70px;
  background-color:#4D4D4D;
  justify-content: center;
  align-items: center;

  .footer_div_p {
    font-size: 20px;
    color: white;
  }

}
.loadingScreen {
  top: 54px;
  position: fixed;
  width: 100%;
  background-color: #1e1d20;
  z-index: 100;

  .loadingioMask{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e1d20;


  }
  .loadingImg {
    width: 20%;
  }
}


.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-top: 54px;
  min-height: calc(100vh - 89px - 54px); /*100vh - footer高度 - header高度*/
}
.header {
  width: 100%;
  height: 54px;
  display: flex;
  justify-content: center;
  position: fixed;
  background-color: #212124;
  z-index: 1000000;
  top: 0;
  left: 0;
  border-bottom: 2px solid rgba(132, 132, 132, 0.80);

}
.div_header {
  height: 34px;
  width: calc(100% - 100px);
  justify-content: space-between;
  align-items: center;
  margin: 10px;

  .header_div {
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 5px;
    .header_div_li_a {
      font-size: 24px;
      color: white;
      font-style: normal;
      font-weight: 500;
      line-height: 34px;
    }
  }

  .header_search_div {
    width: calc(100% - 600px);
    position: relative;
    display: flex;
    flex-direction: row;
    .header_search_button{
      position: absolute;
      inset: 2.5px auto auto 5px;
      background-image: url("../icon/searchIcon.png");
      background-repeat: no-repeat;
      background-color: rgba(255, 255, 255, 0);
      background-size: contain;
      width: 23px;
      height: 23px;
    }
    .header_search_input{
      background-color: white ;
      padding: 5px 40px;
      border-radius: 20px;
      width: 100%;
      height: 28px;
      font-size: 20px;
    }
    .header_search_input:focus {
      outline: none;
      border-color: #007BFF;
      box-shadow: 0 0 5px #007BFF;
    }
  }

.header_div_other {
  display: flex;
  gap:20px;

  .header_div_other_li_a {
    font-size: 20px;
    color: white;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
  }
}
}


.hidden {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none; /* 避免隱藏的元素仍然接收事件 */
}

//.visible {
//  opacity: 1;
//  transition: opacity 0.5s ease-in-out;
//}

@media (max-width: 1200px) {
  .header_search_div {
    width: calc(100% - 400px) !important;
  }
}

@media (max-width: 700px) {
  .div_header{
    width: 100% !important;
  }
}