// 定義變數
$primary-color: #4caf50;
$secondary-color: #45a049;
$text-color: #333;
$label-color: #555;
$container-background-color: #212124;
$background-color: #f2f2f2;
$box-shadow-color: rgba(0, 0, 0, 0.1);

body {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: $container-background-color;
  }

  .batchSearch_div {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px $box-shadow-color;
    padding: 20px;
    width: 70%;

    h1 {
      color: $text-color;
      text-align: center;
    }

    form {
      margin-top: 20px;

      label {
        display: block;
        margin-bottom: 8px;
        color: $label-color;
      }

      input,
      select,
      textarea{
        border: #cbcbcb 1px solid;
        border-radius: 5px;
        width: 100%;
        padding: 5px;
        margin-bottom: 12px;
      }

      hr {
        border: 1px solid #ddd;
        margin: 20px 0;
      }

      h3 {
        color: $text-color;
      }

      .weight_para_div {
        margin-bottom: 20px;
      }

      .weight_para_input {
        width: calc(50% - 5px);
      }

      .weight_para_div_div {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
      }
    }

    button {
      padding: 10px 20px;
      background-color: $primary-color;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      display: block;
      margin: 20px auto;

      &:hover {
        background-color: $secondary-color;
      }
    }

    #result {
      text-align: center;
      margin-top: 20px;
    }
  }
}
