.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 10px;
  gap: 30px;
}

.search_div {
  width: 250px;
  display: flex;
  position: relative;
}
.search_div .search_param_div {
  border-radius: 10px;
  padding: 10px;
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
  position: fixed;
}
.search_div .search_button_div,
.search_div .compound_name_para_div,
.search_div .formula_para_div,
.search_div .exact_mass_para_div,
.search_div .precursor_mz_para_div,
.search_div .tolerance_para_div,
.search_div .charge_para_div,
.search_div .ms2Spectrum_para_div,
.search_div .ms2_para_div,
.search_div .weight_para_div,
.search_div .algorithm_para_div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 7px;
}
.search_div .search_button_div label, .search_div .search_button_div input, .search_div .search_button_div p, .search_div .search_button_div textarea, .search_div .search_button_div span, .search_div .search_button_div select,
.search_div .compound_name_para_div label,
.search_div .compound_name_para_div input,
.search_div .compound_name_para_div p,
.search_div .compound_name_para_div textarea,
.search_div .compound_name_para_div span,
.search_div .compound_name_para_div select,
.search_div .formula_para_div label,
.search_div .formula_para_div input,
.search_div .formula_para_div p,
.search_div .formula_para_div textarea,
.search_div .formula_para_div span,
.search_div .formula_para_div select,
.search_div .exact_mass_para_div label,
.search_div .exact_mass_para_div input,
.search_div .exact_mass_para_div p,
.search_div .exact_mass_para_div textarea,
.search_div .exact_mass_para_div span,
.search_div .exact_mass_para_div select,
.search_div .precursor_mz_para_div label,
.search_div .precursor_mz_para_div input,
.search_div .precursor_mz_para_div p,
.search_div .precursor_mz_para_div textarea,
.search_div .precursor_mz_para_div span,
.search_div .precursor_mz_para_div select,
.search_div .tolerance_para_div label,
.search_div .tolerance_para_div input,
.search_div .tolerance_para_div p,
.search_div .tolerance_para_div textarea,
.search_div .tolerance_para_div span,
.search_div .tolerance_para_div select,
.search_div .charge_para_div label,
.search_div .charge_para_div input,
.search_div .charge_para_div p,
.search_div .charge_para_div textarea,
.search_div .charge_para_div span,
.search_div .charge_para_div select,
.search_div .ms2Spectrum_para_div label,
.search_div .ms2Spectrum_para_div input,
.search_div .ms2Spectrum_para_div p,
.search_div .ms2Spectrum_para_div textarea,
.search_div .ms2Spectrum_para_div span,
.search_div .ms2Spectrum_para_div select,
.search_div .ms2_para_div label,
.search_div .ms2_para_div input,
.search_div .ms2_para_div p,
.search_div .ms2_para_div textarea,
.search_div .ms2_para_div span,
.search_div .ms2_para_div select,
.search_div .weight_para_div label,
.search_div .weight_para_div input,
.search_div .weight_para_div p,
.search_div .weight_para_div textarea,
.search_div .weight_para_div span,
.search_div .weight_para_div select,
.search_div .algorithm_para_div label,
.search_div .algorithm_para_div input,
.search_div .algorithm_para_div p,
.search_div .algorithm_para_div textarea,
.search_div .algorithm_para_div span,
.search_div .algorithm_para_div select {
  font-size: 12px;
}
.search_div .search_button_div input, .search_div .search_button_div select,
.search_div .compound_name_para_div input,
.search_div .compound_name_para_div select,
.search_div .formula_para_div input,
.search_div .formula_para_div select,
.search_div .exact_mass_para_div input,
.search_div .exact_mass_para_div select,
.search_div .precursor_mz_para_div input,
.search_div .precursor_mz_para_div select,
.search_div .tolerance_para_div input,
.search_div .tolerance_para_div select,
.search_div .charge_para_div input,
.search_div .charge_para_div select,
.search_div .ms2Spectrum_para_div input,
.search_div .ms2Spectrum_para_div select,
.search_div .ms2_para_div input,
.search_div .ms2_para_div select,
.search_div .weight_para_div input,
.search_div .weight_para_div select,
.search_div .algorithm_para_div input,
.search_div .algorithm_para_div select {
  width: 200px;
  height: 25px;
  border-radius: 10px;
  padding: 0 10px;
}
.search_div .weight_para_div_div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.search_div .search_button_div {
  display: flex;
  align-items: flex-start;
  width: 100%;
}
.search_div .search_button_div .search_button {
  width: 50px;
  height: 25px;
  background-color: #75bcff;
  color: white;
  border-radius: 5px;
}
.search_div .tolerance_para_div_div {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-around;
}
.search_div .tolerance_para_select {
  width: 90px !important;
  color: black !important;
}
.search_div .tolerance_input {
  width: 100px !important;
}
.search_div .ms2Spectrum {
  width: 200px;
  border-radius: 10px;
  padding: 10px;
  max-width: 100%;
}

.spectrum_container_div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 1200px;
  overflow: hidden;
}
.spectrum_container_div .spectrum_item_div {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 15px;
  background-color: #D9D9D9;
  border-radius: 10px;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
}
.spectrum_container_div .spectrum_item_div h1 {
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
}
.spectrum_container_div .spectrum_item_div .spectrum_canvas_div {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spectrum_container_div .spectrum_item_div .spectrum_info_div {
  width: 30%;
}

.spectrum_info_div {
  width: 40% !important;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
table tr {
  width: 100%;
}
table th, table td {
  text-align: left;
  font-size: 12px;
  padding: 5px;
  white-space: normal;
  word-wrap: break-word;
}
table th {
  width: 25%;
}
table td {
  width: 75%;
}
table th {
  color: black;
  font-weight: bold;
}

/*# sourceMappingURL=msSearch.css.map */
