.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 10px;
  gap: 30px;
}

.search_div {
    width: 250px;
    display: flex;
    position: relative;
    overflow-y: auto;

    .search_param_div {
      border-radius: 10px;
      padding: 10px;
      background-color: #D9D9D9;
      display: flex;
      flex-direction: column;
      position: fixed;
      max-height: 90vh;
      overflow-y: auto;

    }
  .search_button_div,
  .compound_name_para_div,
  .formula_para_div,
  .exact_mass_para_div,
  .precursor_mz_para_div,
  .tolerance_para_div,
  .charge_para_div,
  .ms2Spectrum_para_div,
  .ms2_tolerance_para_div,
  .ms2_similarity_para_div,
  .weight_para_div,
  .algorithm_para_div
  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 7px;
    label, input, p, textarea, span, select {
      font-size: 12px;
    }
    input, select {

      width: 200px;
      height: 25px;
      border-radius: 10px;
      padding: 0 10px;
    }
    select:hover{
      cursor: pointer;
    }
  }

  .weight_para_div_div{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .search_button_div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    flex-direction: row;
    .search_button {
      width: 50px;
      height: 25px;
      background-color: #75bcff;
      color: white;
      border-radius: 5px;
    }
    .reset_button, .demo_button {
      height: 25px;
      background-color: #a2a2a2;
      color: white;
      border-radius: 5px;
      padding: 0 5px 0 5px;

    }
    .search_button:hover, .reset_button:hover, .demo_button:hover {
      cursor: pointer;
    }

  }
  .tolerance_para_div_div {
    display: flex;
    align-items: center;
    gap:5px;
    justify-content: space-around;
  }
  .tolerance_para_select{
    width: 90px !important;
    color: black !important;
  }
  .tolerance_input {
    width: 100px !important;
  }
  .ms2Spectrum {
    width: 200px;
    border-radius: 10px;
    padding: 10px;
    max-width: 100%;
  }


}
.spectrum_container_div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 1200px;
    overflow: hidden;

    .spectrum_item_div {
      display: flex;
      flex-direction: row;
      width: 100%;
      padding: 15px;
      background-color: #D9D9D9;
      border-radius: 10px;
      gap:10px;
      justify-content: space-around;
      align-items: center;
      h1 {
        font-size: 20px;
        font-weight: bold;
        margin: 20px;
      }
      .spectrum_canvas_div{
        width:60%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .spectrum_info_div {
        width:30%;
      }

    }
}

.spectrum_info_div {
  width: 40% !important;
}

//table
table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  tr {
    width: 100%;
  }

  th, td {
    text-align: left;
    font-size: 12px;
    padding: 5px;
    white-space: normal;
    word-wrap: break-word;
  }
  th {
    width: 25%;
  }
  td {
    width: 75%;
  }

  th {
    color: black;
    font-weight: bold;
  }
}
