

#data-container {
    margin: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(100% - 40px);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    max-width: 100%;
}

table, th, td {
    border: 1px solid #ddd;
    span{
        font-weight: bold;
        color: black;
    }

    p {
        margin: 5px;
        a {
            color: #212124;
        }
        a:hover{
            color: #3498db;
        }
    }

}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}


.table-body > tr > td > button {
    background-color: #3498db;
    color: #ffffff;
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #2980b9
    }
}

@media (max-width: 1200px) {
    .data-item {
        thead > tr > th, tbody > tr > td, tbody > tr > td > p, tbody > tr > td > p > a, tbody > tr > td > p > span {
            font-size: 12px;
        }

    }
    .table-body > tr > td > button {
        padding: 5px 7px;
        margin: 3px;
        font-size: 10px;
    }
    th, td {
        padding: 3px;
    }
}

@media (max-width: 1000px) {
    #data-container {
        max-width: calc(100% - 10px);
    }
    .data-item {
        thead > tr > th, tbody > tr > td, tbody > tr > td > p, tbody > tr > td > p > a, tbody > tr > td > p > span {
            font-size: 10px;
        }
        tbody > tr > td > p > a {
            font-size: 8px;
        }

    }

    .email_th, .email_td {
        display: none;
    }
    .createTime_th, .createTime_td {
        display: none;
    }
    .des_th, .des_td {
        display: none;
    }
}

