<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  lang="en"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  layout:decorate="~{layout.html}">
<head>
	<meta charset="UTF-8">
	<title>MS search - batch search uploader</title>
	<link rel="stylesheet" th:href="@{/css/batchSearch.css}">
	<!--  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>-->

</head>
<body>
<div layout:fragment="content">
	<div class="batchSearch_div">
		<h1>Upload file for multiple MS/MS spectrum search</h1>
		<br>
		<h1 style="font-size: 12px;color: #4D4D4D">All files will be <span style="color: brown">automatically deleted after seven days</span>. <br>Please make sure to download and save the results upon task completion.</h1>
		<form id="myForm" enctype="multipart/form-data">
			<div class="dataInput_div">
				<label for="peakListFile">Input file (MS1 peak list):</label>
				<input type="file" id="peakListFile" name="peakListFile" accept=".csv">
				<label for="ms2File">Input file (MS2 spectrum file):</label>
				<input type="file" id="ms2File" name="ms2File" accept=".mgf">
				<label for="ms2spectrumDataSource">MS2 spectrum data source:</label>
				<select name="ms2spectrumDataSource" id="ms2spectrumDataSource">
					<option value="XCMS3">xcms3-mgf</option>
<!--					<option value="SCIEX_MSCONVERT">Sciex-wiff+MS-Convert-mgf</option>-->
				</select>
				<label for="mail">Contact mail:</label>
				<input type="email" id="mail" name="mail" placeholder="xxx@xxx.com">
				<label for="taskDescription">Task description: </label>
<!--				<input type="text" id="taskDescription" name="taskDescription" placeholder=" Please description your project. ">-->
				<textarea name="taskDescription" id="taskDescription" cols="30" rows="10" placeholder=" Please description your project. "></textarea>
				<button type="button" id="uploadFileButton">Upload file</button>
				<div class="uploadStatus">Upload status:   <img id="uploadStatusLoading" class="hidden" th:src="@{/icon/upload-loading.gif}" alt="" style="width: 20px"><span id="uploadStatusResult"></span></div>
			</div>
			<hr>
			<h3>MS1 & MS2 pair parameter</h3>
			<div class="ms1ms2PairParameter_div">
				<label for="ms1ms2PairMzParameter">Mz tolerance:</label>
				<input type="text" id="ms1ms2PairMzParameter" name="ms1ms2PairMzParameter" placeholder="Require, 0-100 sec">
				<label for="ms1ms2PairRtParameter">Rt tolerance:</label>
				<input type="text" id="ms1ms2PairRtParameter" name="ms1ms2PairRtParameter" placeholder="Require, 0-100 ppm">
			</div>

			<h3>MS/MS search parameter</h3>

			<div class="msToleranceParameter_div">
				<label for="msTolerance">MS tolerance:</label>
				<input type="text" id="msTolerance" name="msTolerance" placeholder="Require, 0-100 ppm">
			</div>
			<div class="msmsToleranceParameter_div">
				<label for="msmsTolerance">MS/MS tolerance:</label>
				<input type="text" id="msmsTolerance" name="msmsTolerance" placeholder="Require, 0-100 ppm">
			</div>
			<div class="charge_para_div">
				<label for="charge">Charge</label>
				<select name="charge" id="charge">
					<option value="">All</option>
					<option value="positive">Positive</option>
					<option value="negative">Negative</option>
				</select>
			</div>
			<div class="weight_para_div">
				<p>Similarity score weight<br><span style="font-weight: 300; color: #4D4D4D">(sum needs to be 1)</span> </p>
				<div class="weight_para_div_div">
					<input class="weight_para_input" type="text" name="forward_para" id="forward_para" placeholder="Forward, default 0.5">
					<input class="weight_para_input" type="text" name="reverse_para" id="reverse_para" placeholder="Reverse, default 0.5">
				</div>
			</div>
			<div class="algorithm_para_div">
				<label for="algorithm_para">MS/MS similarity algorithm</label>
				<select name="algorithm_para" id="algorithm_para">
					<option value="dotPlot">Dot plot</option>
					<option value="intensityDeviation">Intensity deviation</option>
				</select>
			</div>
			<div class="ms2_similarity_para_div">
				<label for="ms2_similarity_para">MS/MS similarity tolerance</label>
				<input class="ms2_para_input" type="text" name="ms2_similarity_para" id="ms2_similarity_para" placeholder="0.00-1.00, default 0.5">
			</div>




			<button type="button" id="submitButton">Submit</button>
		</form>
		<div id="taskID">Task ID: <span id="taskIdResult"></span></div>
		<div id="submitStatus">Submit status:   <img id="submitStatusLoading" class="hidden" th:src="@{/icon/upload-loading.gif}" alt="" style="width: 20px"> <span id="submitStatusResult"></span></div>
	</div>
</div>
</body>
<div layout:fragment="script">
	<!--	<script type="module" th:src="@{/js/utility/spectrumChart.js}"></script>-->
	<script type="module" th:src="@{/js/batchSearch.js}"></script>
</div>
</html>
