<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  lang="en"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  layout:decorate="~{layout.html}">
<head>
	<meta charset="UTF-8">
	<title>MS search</title>
	<link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<div layout:fragment="content">
		<div class="left_div">
			<div class="userInfo_div">
				<h1>User Info</h1>
			</div>
		</div>
		<div class="middle_div">
			<div class="source_ref_div">
				<h1 style="font-size: 22px; font-style: inherit ">MS search - A web server, provide match function with LC-MS/MS spectrum database</h1>
				<p></p>
			</div>
			<div class="introduction_project_div">
				<h1 style="font-size: 18px; font-style: inherit">Introduction project architecture</h1>
				<img class="project_architecture_img" th:src="@{/picture/projectArchitecture.png}" alt="img failed"></img>
				<h1 style="font-size: 18px; font-style: inherit">MS/MS search workflow</h1>
				<img class="project_architecture_img" th:src="@{/picture/msms_search_workflow.png}" alt="img failed"></img>
				<h1 style="font-size: 18px; font-style: inherit">Multiple MS/MS workflow</h1>
				<img class="project_architecture_img" th:src="@{/picture/batch_search_workflow.png}" alt="img failed"></img>
			</div>

		</div>
		<div class="right_div">
			<div class="release_note_div">
				<h1 style="font-size: 22px; font-style: inherit "> Release note</h1>
				<br>
				<!--				建立清單-->
				<ul>
					<li>
						<span class="version">v1.0.1</span>
						<span class="date">- October 11, 2023</span>
						<p class="description">MS search web create.</p>
					</li>
					<br>
					<li>
						<span class="version">v1.0.2</span>
						<span class="date">- October 13, 2023</span>
						<p class="description">Add MS/MS search function.</p>
						<p class="description">Create 200w spectrum data in database!</p>
					</li>
					<br>
					<li>
						<span class="version">v1.0.3</span>
						<span class="date">- October 15, 2023</span>
						<p class="description">Opt front-end function.</p>
					</li>
					<br>
					<li>
						<span class="version">v1.0.4</span>
						<span class="date">- October 19, 2023</span>
						<p class="description">MS/MS batch search functionality has been added, and testing is still in progress. The feature is not yet fully functional.</p>
					</li>
					<!-- Add more release notes as needed -->
				</ul>
			</div>
			<div class="ads_div">
				<h1>廣告斂財區</h1>
			</div>
		</div>

</div>
</body>
</html>
