<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  lang="en"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  layout:decorate="~{layout.html}">
<head>
	<meta charset="UTF-8">
	<title>MS search engine</title>
	<link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<div layout:fragment="content">
		<div class="left_div">
			<div class="userInfo_div">
				<h1>User Info</h1>
			</div>
		</div>
		<div class="middle_div">
			<div class="introduction_project_div">
				<h1>Introduction project architecture</h1>
				<img class="project_architecture_img" th:src="@{/picture/projectArchitecture.png}" alt="img failed"></img>

			</div>
			<div class="source_ref_div">
				<h1>How to use, source code ref</h1>
			</div>
		</div>
		<div class="right_div">
			<div class="release_note_div">
				<h1>Release note</h1>
			</div>
			<div class="ads_div">
				<h1>廣告斂財區</h1>
			</div>
		</div>

</div>
</body>
</html>
