<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  lang="en"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>

	<meta charset="UTF-8">
	<link rel="icon" th:href="@{/icon/webIcon.png}" type="image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" th:href="@{/css/base.css}">
	   <link rel="stylesheet" href="../static/css/base.css">
	<title>Layout</title>
	<script src="https://unpkg.com/htmx.org@1.9.8" integrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr" crossorigin="anonymous"></script>


</head>
<header class="header">
	<div class="div_header flex">
		<div class="header_div">
			<img th:src="@{/icon/webIcon.png}" alt="" style="width: 30px; height: 30px">
			<li class="header_div_li"><a class="header_div_li_a" href="./">MS search</a></li>
		</div>
		<div class="header_msSearch_div">
			<a href="./msSearch">MS/MS search</a>
		</div >
		<div class="header_ms2Search_div">
			<a href="./batchSearch">Multiple MS/MS search</a>
		</div>
		<div class="header_taskView_div">
			<a href="./taskView">Task view</a>
		</div>
		<div class="header_search_div">
			<button class="header_search_button" id="header_search_button"></button>
			<label for="msSearch"></label>
			<input class="header_search_input" type="text" name="msSearch" id="msSearch" placeholder="MS search by precursor m/z, compound name, formula, inchi key" minlength="3">
		</div>
		<div class="header_div_other">
			<div class="header_other_item">
				<button class="header_other_button"><img src="" alt="">Feature</button>
				<div class="dropDown_bg_div">
					<div class="dropDown_div">
						<ul>
							<li><a href="./msSearch">MS/MS search</a></li>
						</ul>
						<ul>
							<li><a href="./batchSearch">Multiple MS/MS search</a></li>
						</ul>
						<ul>
							<li><a href="./taskView">Search task view</a></li>
						</ul>
						<ul>
							<li><a href="https://hackmd.io/@Y8FW9GMORQ-PswU64m3aaQ/rJEBXaoVp">Tutorial</a></li>
						</ul>
						<ul>
							<li><a href="./logout">Log out</a></li>
						</ul>

<!--						<ul>-->
<!--							<li><a href="./swagger-ui/index.html#/">Swagger API Docs</a></li>-->
<!--						</ul>-->
					</div>
				</div>


			</div>

		</div>
	</div>

</header>
<body>
<div id="loadingScreen" class="loadingScreen">
	<div class="loadingioMask">
		<img class="loadingImg" th:src="@{/icon/loading.gif}" alt="loading icon">

	</div>
</div>
<div class="wrapper">
	<div class="container" layout:fragment="content"></div>
</div>


</body>
<br>
<footer class="footer flex">
	<div class="footer flex">
		<div class="footer_div">
			<p class="footer_div_p">2023 @ MS search</p>
		</div>
	</div>
</footer>
<script type="module" th:src="@{/js/base.js}"></script>
<div layout:fragment="script">
</div>
</html>
