<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  lang="en"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  layout:decorate="~{layout.html}">
<head>
	<meta charset="UTF-8">
	<title>MS search - MS search</title>
	<link rel="stylesheet" th:href="@{/css/msSearch.css}">
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>
<div layout:fragment="content">
	<div class="search_div">
		<div class="search_param_div">
			<div class="search_button_div">
				<button class="search_button" id="search_button">Search</button>
			</div>

			<div class="compound_name_para_div">
				<label for="compound_name_para">Compound name</label>
				<input class="compound_name_para" type="text" name="compound_name_para" id="compound_name_para">
			</div>
			<div class="formula_para_div">
				<label for="formula">Formula</label>
				<input class="formula_para" type="text" name="formula_para" id="formula">
			</div>
			<div class="exact_mass_para_div">
				<label for="exact_mass">Exact mass</label>
				<input class="exact_mass" type="text" name="exact_mass" id="exact_mass">
			</div>
			<div class="precursor_mz_para_div">
				<label for="precursor_mz">Precursor m/z</label>
				<input class="precursor_mz" type="text" name="precursor_mz" id="precursor_mz">
			</div>
			<div class="tolerance_para_div">
				<label for="tolerance">MS tolerance</label>
				<div class="tolerance_para_div_div">
					<input class="tolerance_input" type="text" name="tolerance" id="tolerance">
					<select name="tolerance" id="tolerance_unit" class="tolerance_para_select">
						<option value="ppm">ppm</option>
						<option value="Da">Da</option>
					</select>
				</div>
			</div>
			<div class="charge_para_div">
				<label for="charge">Charge</label>
				<select name="charge" id="charge">
					<option value="">All</option>
					<option value="positive">Positive</option>
					<option value="negative">Negative</option>
				</select>
			</div>
			<div class="ms2Spectrum_para_div">
				<label for="ms2Spectrum">MS2 spectrum</label>
				<textarea name="ms2Spectrum" class="ms2Spectrum" rows="10" id="ms2Spectrum" placeholder=" m/z:abundance(%)
				445.16:80.2
				330.2:10.1
				220.1:0.8
				" style="white-space: pre-line;"></textarea>

			</div>
			<div class="ms2_para_div">
				<label for="ms2_para">MS/MS similarity tolerance</label>
				<input class="ms2_para_input" type="text" name="ms2_para" id="ms2_para" placeholder="0.00-1.00, default 0.5">
			</div>

<!--			<div class="weight_para_div">-->
<!--				<label for="forward_para">MS/MS similarity tolerance</label>-->
<!--				<input class="forward_para_input" type="text" name="forward_para" id="forward_para" placeholder="0.00-1.00, default 0.5">-->
<!--			</div>-->
<!--			<div class="reverse_para_div">-->
<!--				<label for="reverse_para">MS/MS similarity tolerance</label>-->
<!--				<input class="reverse_para_input" type="text" name="reverse_para" id="reverse_para" placeholder="0.00-1.00, default 0.5">-->
<!--			</div>-->
			<div class="weight_para_div">
				<p>Similarity score weight<br><span style="font-weight: 300; color: #4D4D4D">(sum needs to be 1)</span> </p>
				<div class="weight_para_div_div">
					<input class="weight_para_input" type="text" name="forward_para" id="forward_para" placeholder="Forward, default 0.5">
					<input class="weight_para_input" type="text" name="reverse_para" id="reverse_para" placeholder="Reverse, default 0.5">
				</div>
			</div>
			<div class="algorithm_para_div">
				<label for="algorithm_para">Similarity Algorithm</label>
				<select name="algorithm_para" id="algorithm_para">
					<option value="dotPlot">Dot plot</option>
					<option value="intensityDeviation">Intensity Deviation</option>
				</select>
			</div>
		</div>

	</div>


	<div class="spectrum_container_div" id="spectrum_container_div">
		<div class="spectrum_item_div">
			<h1>Please key-in the parameter in the search bar and press the button to query for MS/MS spectrum.</h1>
		</div>
<!--		<div class="spectrum_item_div">-->
<!--			<div class="spectrum_canvas_div">-->
<!--				<canvas class="spectrumChart"></canvas>-->
<!--			</div>-->
<!--			<div class="spectrum_info_div">-->
<!--				<table>-->

<!--					<tr>-->
<!--						<th>Compound Name：</th>-->
<!--						<td>NA</td>-->
<!--					</tr>-->
<!--					<tr>-->
<!--						<th>Exact Mass：</th>-->
<!--						<td>NA</td>-->
<!--					</tr>-->
<!--					<tr>-->
<!--						<th>Formula：</th>-->
<!--						<td>NA</td>-->
<!--					</tr>-->
<!--					<tr>-->
<!--						<th>InChi key</th>-->
<!--						<td>NA</td>-->
<!--					</tr>-->
<!--					<tr>-->
<!--						<th>Charge：</th>-->
<!--						<td>NA</td>-->
<!--					</tr>-->
<!--					<tr>-->
<!--						<th>Collision Energy：</th>-->
<!--						<td>NA</td>-->
<!--					</tr>-->
<!--					<tr>-->
<!--						<th>Precursor m/z：</th>-->
<!--						<td>NA</td>-->
<!--					</tr>-->
<!--					<tr>-->
<!--						<th>Adduct ion：</th>-->
<!--						<td>NA</td>-->
<!--					</tr>-->
<!--					<tr>-->
<!--						<th>Tool type：</th>-->
<!--						<td>NA</td>-->
<!--					</tr>-->
<!--					<tr>-->
<!--						<th>SMILE：</th>-->
<!--						<td>NA</td>-->
<!--					</tr>-->
<!--				</table>-->
<!--			</div>-->
<!--		</div>-->






	</div>
</div>
</body>
<div layout:fragment="script">
<!--	<script type="module" th:src="@{/js/utility/spectrumChart.js}"></script>-->
	<script type="module" th:src="@{/js/msSearch.js}"></script>
</div>
</html>
