<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  lang="en"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  layout:decorate="~{layout.html}">
<head>
	<meta charset="UTF-8">
	<title>MS search - Task view</title>
	<link rel="stylesheet" th:href="@{/css/taskView.css}">
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>
<div layout:fragment="content">
	<h1 style="color: white; font-size: 30px; padding: 10px">Coming soon... </h1>

</div>
</body>
<div layout:fragment="script">
	<!--	<script type="module" th:src="@{/js/utility/spectrumChart.js}"></script>-->
<!--	<script type="module" th:src="@{/js/msSearch.js}"></script>-->
</div>
</html>
